<mat-card>
  <mat-card-title>Tag Replacer
  </mat-card-title>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Input Text</mat-label>
      <textarea matInput formControlName="inputText"></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div>
      <span>Replacements</span>
      <button mat-raised-button color="primary">Add</button>
      <button mat-raised-button color="primary">Remove</button>
    </div>
    <div>
      <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [indeterminate]="true">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let index = index">
            <mat-checkbox
              [formControl]="form.controls.replacementDefinitions.controls[index].controls.enabled"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="tag">
          <th mat-header-cell *matHeaderCellDef> Tag</th>
          <td mat-cell *matCellDef="let index = index">
            <mat-form-field>
              <input
                matInput
                [formControl]="form.controls.replacementDefinitions.controls[index].controls.tag"
              >
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="replacement">
          <th mat-header-cell *matHeaderCellDef>Replacement</th>
          <td mat-cell *matCellDef="let rowData"> {{rowData.replacement}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
    <button mat-raised-button color="primary" (click)="pause()">Replace</button>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Output Text</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-card>

<pre>{{ form.getRawValue() | json }}</pre>
