/* You can add global styles to this file, and also import other style files */

html{
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-infix {
  width: unset !important;
}

// Table Styles

table.mat-table{
  padding-bottom: 58px;
  border: 1px solid #dcdcdc;
  width: 100%;

  td.mat-cell{
    padding-right: 20px;
    width: 44%;

    &.cdk-column-enabled{
      padding-right: 24px;
    }

    &:first-of-type{
      width: 12%;
    }
  }

  th.mat-header-cell{
    width: 44%;

    &:first-of-type{
      width: 12%;
    }
  }

  th.mat-header-cell{
    padding-right: 20px;
  }
}

td.biggerRow{
  height: 90px;
}

// Headers

.mat-card-title{
  margin-bottom: 15px;
}

.small-header{
  margin-right: 10px;
  font-weight: 500;
  display: inline;

  @media only screen and (max-width: 312px){
    display: block;
    margin-top: 0;
  }
}

// Others

mat-form-field.text-area-field {
  width: 100%;
  margin-bottom: 0;
}

mat-card.main-view{
  max-width: 500px;
  margin: 50px auto ;
}

div.button-container{
  padding: 15px 0;

  &.button-container-centered{
    display: flex;
    justify-content: center;
  }
}

button.table-button{
  margin-right: 10px;
}

ul.messages{
  padding-left: 16px;
  margin: 10px 0;

  .validation-fail-message{
    color: red;
    font-size: 0.8rem;
  }
}

mat-card.mat-card{

  @media only screen and (max-width: 560px){
    margin-top: 0;
    box-shadow: none !important;
  }

}









